html
  head
    style
      include main.css
    script
      include polllisthandler.js
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  body
  #upperheader
    ul
      li: =user
      li: a#logout(href='/logout') Logout
  h4(id='notification')=message
  #useroptions
    ul
      li: a(href='/createPoll') Create a New Poll
      li: a(href='/myPolls') MyPolls
      li: a(href='/seeActivePolls') See Active Polls
      li: a(href='/seeResultsofmypolls') See Results Of My Polls

  #pollList
