html
  head
    title=user
    style
      include main.css
    script
      include polllisthandler.js
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  body
  #upperheader
    a(href="https://pollroll.herokuapp.com")
      p(class="titlename") Pollroll
    ul(class="upperbuttons")
      li: a(href="/dashboard") #{user}
      li: a#logout(href='/logout') Logout
  h4(id='notification')=message
  #useroptions
    ul(class="upperbuttonsleft")
      li: a(href='/createPoll') Create a New Poll
      li: a(href='/showMyPolls') MyPolls
    br
    p Active Polls
    hr
  div#spinner(class = "spinner")
  #pollList
  footer &copy;
    a(href="https://www.linkedin.com/in/harshvardhankumar",style="color:green") Harsh Vardhan Kumar
