<html>
  <head>
    <link rel = "stylesheet" href="main.css">
    <title>Pollroll </title>
  </head>
  <body>
    <div id = "upperheader">
      <p id = "titlename">Pollroll</p>
      <ul class="upperbuttons">
        <li><a id = "login" href = "/login" class="upperbutton1">Login</a></li>
        <li><a id = "signup" href = "/signup" class="upperbutton2">SignUp</a></li>
      </ul>
    </div>
    <div id = "mainLogo">
      <img src="logo.png">
    </div>
    <div id = "unauthorizedpollview">
      <a id = "unauthorized" href="/udashboard">See active polls </a>
    </div>
    <footer> &copy; Copyright <a href="https://www.linkedin.com/in/harshvardhankumar" style="color:green">Harsh Vardhan Kumar</a></footer>
  </body>
</html>
