html
  head
    title Pollroll-Login
    style
      include main.css
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  body
    div(id="upperheader")
      p(id="titlename") Pollroll
      ul(class="upperbuttons")
        li: a(id="signup",href="/signup",class="upperbutton2") Signup
    h4(class="notification")=message
    div(class="form")
      form(action="/dashboard",method="post",enctype="multipart/form-data")
        label(for="Username") Username :
        input(type="text",id="Username",name="Username",placeholder="Enter your username",oninput="testUsername()")
        br
        label(for="password") Password :
        input(type="password",id="password",name="password",placeholder="Enter your password",oninput="testPassword()")
        br
        input(type="submit",onclick="testSubmit()")
