<html>
  <head>
    <link rel = "stylesheet" href = "main.css">
  </head>
  <body>
    <div id = "upperheader">
      <ul>
        <li><a id = "login" href = "/login">LogIn</a></li>
        <li><a id = "signup" href = "/signup">SignUp</a></li>
      </ul>
    </div>

    <div id = "loginform">
      <form action="/dashboard" method = "post" enctype="multipart/form-data">
        <label for="Username">Username : </label>
        <input type="text" id = "Username" name="Username" placeholder="Enter your username" oninput="testUsername()">
        <br>

        <label for="password">Password : </label>
        <input type = "password" id = "password" name="password" placeholder="Enter your password" oninput="testPassword()">
        <br>
        <input type = "submit" onclick="testSubmit()">
      </form>
    </div>
  </body>
</html>
