body {
  color: white ;
  font-size: 1em;
  font-family: helvetica, arial, sans-serif;
  margin: 0 ;
  padding : 0 ;
}
label {
  font-size: 0.8em ;
  color: black ;
}
#upperheader {
  display: absolute ;
  left: 0 ;
  top: 0 ;
  background-color: #eee ;
  box-shadow: 5px 5px 5px #aaa, -5px 5px 5px #aaa, -5px -5px 5px #aaa , 5px -5px 5px #aaa ;
}

ul li{
  list-style-type: none ;
  display: inline-block;
  border-radius: 5px ;
  margin-right: 20px ;
  background-color: green ;
  padding: 10px 10px ;
  cursor: pointer;
}
ul {
  display: relative ;
  margin-left: 80% ;
  padding: 1.5% 0;
}

a {
  font-size: 0.8em ;
  color: white ;
  text-decoration: none ;
  font-family: helvetica, arial, sans-serif ;
}

#form {
  margin: auto ;
  padding-top : 25% ;
  padding-bottom: 5% ;
  border-radius: 20px ;
  background-color: #eee ;
  box-shadow: 5px 5px 5px #aaa, 5px -5px 5px #aaa, -5px 5px 5px #aaa, -5px -5px 5px #aaa ;
}

input {
  border-radius: 5px ;
}
.poll {
  color: black ;
}

#pollresults {
  width: 80% ;
  background-color: #eee ;
  margin-top: 5% ;
  color: black ;
}
#poll, #results {
  float: left ;
  padding: 5% ;
}
#results {
  margin: auto;
  display: none ;
  text-align: center;
}
canvas {
  width:80vw !important;
  height:70vh !important;
}
#voteagain {
  color: black ;
  font-size: 1.5em;
  padding: 20px 80px;
  margin-top: 50px ;
}
