@import url('https://fonts.googleapis.com/css?family=Comfortaa|Courgette|Kaushan+Script|Lobster+Two|Poiret+One|Sedgwick+Ave+Display');
body {
  font-size: 1.4em;
  font-family: Courgette,helvetica, arial, sans-serif;
  box-sizing: border-box;
  background-image: url('logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 ;
  padding : 0 ;
}
h1, h2 {
  font-family: Courgette, helvetica, arial, sans-serif;
  margin: auto;
  text-align: center;
}
label {
  font-size: 1.2em ;
  color: black ;
}
/*Used in the upper portion of the page */
#upperheader {
  display: absolute ;
  left: 0 ;
  font-size: 1em ;
  top: 0 ;
  width: 100% ;
  background-color: #f2f2f2 ;
  box-shadow: 5px 5px 5px #aaa, -5px 5px 5px #aaa, -5px -5px 5px #aaa , 5px -5px 5px #aaa ;
}
/* used in the upperheader and contains the login and signup buttons*/
.upperbuttons li{
  list-style-type: none ;
  display: inline-block;
  border-radius: 5px ;
  margin-right: 20px ;
  background-color: green ;
  padding: 10px 20px ;
  cursor: pointer;
}
.upperbuttons {
  display: relative ;
  margin-left: 70% ;
  padding: 1.5% 0;
}
select {
  background-color: white ;
}
/* Used in dashboard.pug to show the authorized user options*/
.upperbuttonsleft li{
  list-style-type: none ;
  display: inline-block;
  border-radius: 5px ;
  margin-right: 20px ;
  background-color: green ;
  padding: 10px 20px ;
  cursor: pointer;
}
.upperbuttonsleft {
  display: relative ;
  margin-left: 1% ;
  padding: 1.5% 0;
}
#useroptions {
  margin: auto;
  text-align: center;
}

a {
  font-size: 0.8em ;
  color: white ;
  text-decoration: none ;
  margin: auto;
}

ul li {
  list-style-type: none ;
}
#form {
  margin: auto ;
  padding-top : 25% ;
  padding-bottom: 5% ;
  border-radius: 20px ;
  background-color: #eee ;
  box-shadow: 5px 5px 5px #aaa, 5px -5px 5px #aaa, -5px 5px 5px #aaa, -5px -5px 5px #aaa ;
}

input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poiret One';
    font-size: 1.2em ;
}

input[type=password], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poiret One';
    font-size: 1.2em ;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poiret One';
    font-size: 1.2em ;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.poll {
  color: black ;
}

#pollresults {
  background-color: #ddd ;
  margin-top: 1.0% ;
  color: black ;
  margin: auto;
  text-align: center;
}
#poll, #results {
  padding: 2% ;
  margin: auto;
  text-align: center;
  margin-top: 20vh ;
}
#results {
  margin: auto;
  display: none ;
  text-align: center;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 85vw !important;
    height: 78vh !important ;
}
/*#unauthorized is the button in the index.html for accessing the polls for the unauthorized users*/
/* #voteagain is the button in the viewpoll.pug for showing the polls in order to vote again*/
#voteagain, #unauthorized {
  display: inline-block;
  margin: auto;
  color: white ;
  font-size: 1em ;
  padding: 20px 20px;
  margin-top: 80px ;
  border-radius: 10px ;
  background-color: #0e0 ;
}
#unauthorized {
  position: absolute;
  top: 0 ;
}
/*Used in index.html Shows the logo of the website*/
#mainLogo {
  margin: auto ;
  margin-top: 20vh ;
  width: 90vw ;
  text-align: center;
}
/*The button in index.html for unauthorized users to see the polls*/
#unauthorizedpollview {
  margin: auto;
  width: 20vw ;
}
/* Used to display the name of the website*/
#titlename {
  float: left;
  font-size: 2em ;
  text-align: center;
  margin: auto;
  margin-left: 50px ;
  padding: 1% ;
  color: brown ;
}
/* The login form*/
.form {
  text-align: center;
  margin: auto;
  border-radius: 5px;
  margin-top: 25vh;
  background-color: #f2f2f2 ;
  padding: 50px ;
}
/* The polls shown in the dashboard*/
.poll {
  font-size: 1.4em ;
  padding: 10px ;
  border-radius: 10px ;
  background-color: #e3e7ed ;
  cursor: pointer;
}
#polllist {
  margin: auto;
  text-align: center;
  padding: 20px ;
}
.mypolls {
  list-style-type: none ;
  margin: 20px ;
  background-color: #f2f2f2 ;
}
hr {
  width: 5px ;
}
/* During wrong login attemps*/
.notification {
  color: red ;
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  text-align: center;
}

.upperpartofmypolls div{
  margin-right: 20px ;
  padding: 10px ;
}

.deletebutton {
  padding: 10px 15px ;
  color: red ;
  display: inline-block;
  font-family: helvetica, arial, sans-serif ;
  font-size: 0.9em ;
  transition: all 1s ;
  -moz-transition: all 1s ;
  -o-transition: all 1s ;
  -webkit-transition: all 1s ;
  margin: auto;
  text-align: center ;
  border-radius: 10px ;
  cursor: pointer;
}
.deletebutton:hover {
  background-color: red ;
  color: white ;
}
