html
  head
    style
      include main.css
    script
      include polllisthandler.js
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  body
  div#upperheader(data-position="fixed")
    a(href="https://pollroll.herokuapp.com")
      p(class="titlename") Pollroll
    ul(class="upperbuttons")
      li: a#login(href='/login') Login
      li: a#logout(href='/signup') Signup
  div#spinner(class="spinner")
  #pollList
  footer &copy;
    a(href="https://www.linkedin.com/in/harshvardhankumar",style="color:green") Harsh Vardhan Kumar
