html
  head
    style
      include main.css
    script
      include polllisthandler.js
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  body
  #upperheader
    ul(class="upperbuttons")
      li: a#login(href='/login') Login
      li: a#logout(href='/signup') Signup
  #pollList
