html
head
  title=titlevalue
  script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js")
  script
    include viewpoll.js
  style
    include main.css
body
  div(id="pollresults")
    div(id="poll")
      h1=titlevalue
      -var value= docs
      select(id='select')
        each val in value
          option #{val}
      br
      h4 Please enter your own option if you prefer something|someone else
      br
      input(type="text", name="otherOption", id="otherOption")
      br
      br
      input(type="submit", onclick="sendSelectedOption()")
      p(style="margin:auto;text-align:center") This poll was created by - #{pollcreater}
    div(id="results")
      canvas(id="resultc",width='200px' , height= '200px')
      a(id="voteagain",href="dashboard") See other polls
  footer &copy;
    a(href="https://www.linkedin.com/in/harshvardhankumar",style="color:green") Harsh Vardhan Kumar
