html
head
  script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js")
  script
    include viewpoll.js
  style
    include main.css
body
  #upperheader
    ul
      li: =user
      li: a#logout(href='/logout') Logout
  div(id="pollresults")
    div(id="poll")
      h2=titlevalue
      -var value= docs
      select(id='select')
        each val in value
          option #{val}
      br
      h2 Please enter your own option if you do not like the given options
      br
      input(type="text", name="otherOption", id="otherOption")
      br
      br
      input(type="submit", onclick="sendSelectedOption()")
    div(id="results")
      canvas(id="resultc",width='200px' , height= '200px')
      a(id="voteagain",href="dashboard") Vote again
